.my-video {
  width: 48%;
  padding: 20px;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 0px 6px 0px #c2c2c2;

  &__img {
    width: 100%;
  }

  &__title {
    @include FontStyle(600, 20px, 22px, #343434);
    padding: 20px 0;
  }

  .created-date {
    padding: 10px 0;
  }
}
