@import './components/MyVideo/styles.scss';

.my-videos {
  &__title {
    padding-bottom: 30px;
    display: flex;
    gap: 40px;
    align-items: center;
    @include FontStyle(600, 24px, 26px, #000000);
  }

  &__list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
